@def initialMapSize 300px;
@def emptyToolBackgroundColor #e5e3df;


@external gwt-RadioButton;
.monospace {
	font-family: monospace;
}

.selected {

}

.disabledLink {
	cursor: default;
	color: #777;
}

.drag {
	opacity: 0.8;
}

.link {
	background: none repeat scroll 0 0 transparent;
    border-style: none;
    padding: 0;
    color: #00a;
    cursor: pointer;
    text-decoration: underline;
}
.link:active {
	color: #a0a;
	border-style: none;
}

.canvasContainer {
	height: 100%;
	width: 100%;
}

.worksheet {
	height: 100%;
	margin-left: 120px;
	border-left: 2px solid black;
	position: relative;
}

/* Worksheet when in full-view mode */
.worksheetFullView {
	border-style: none;
	margin: 0;
}

.worksheetFullView .worksheetHeader {
	display: none;
}

.worksheetFullView .worksheetFocusPanel {
	top: 0;
}

.worksheetFullView .worksheetBackground {
	top: 0;
}
/*************************************/
.outOfBounds {
	position: absolute;
	left: 9999px;
	top: 9999px;
}

.worksheetHeader {
	margin-left: 10px;
	font-size: 1.5em;
	padding: 5px;
	height: 25px;
}

.worksheetOptions {
	margin-left: 4px;
	font-size: 14px;
	display: inline-block;
}

.worksheetOptions a {
	cursor: pointer;
	text-decoration: underline;
}

.worksheetFocusPanel {
	top: 35px;
	bottom: 0px;
	width: 100%;
	position: absolute;
	overflow: hidden;
	outline: 0;
}

.worksheetPanel {
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

.worksheetBackground {
	opacity: 0.3;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.worksheetButtons {
	float: right;
}

.worksheetRightLink {
	font-size: 14px;
	float: right;
	padding: 5px;
}

.worksheetRightButton {

}

.worksheetModeEditable {

}

.worksheetDragPanel {
	z-index: 1000;
	background-color: transparent;
	opacity: 0.4;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.toolbox {
	float: left;
	width: 120px;
	height: 100%;
}

.toolboxHeader {
	font-size: 1.5em;
	padding: 5px;
	text-align: center;
	margin-bottom: 10px;
}

.toolboxTools {
	padding: 5px;
	text-align: center;
}

.toolboxCommonIconStyle {
	margin: 10px auto;
	width: 48px;
	hight: 48px;
	padding: 5px;
}

.toolboxCommonIconStyle:hover {
	padding: 4px;
	border-color: #ddd;
	border-radius: 5px 5px 5px 5px;
	border-width: 1px;
	border-style: solid;
}

.toolboxInnerIconStyle {
	background-position: center center;
}

.toolboxCommonIconStyle:hover .toolboxInnerIconStyle {
	box-shadow: 0 0 15px #FFFFFF inset;
}

.toolboxCommonSelectedIconStyle,.toolboxCommonSelectedIconStyle:hover {
	padding: 4px;
	border-color: #aaa;
	border-radius: 5px 5px 5px 5px;
	border-width: 1px;
	border-style: solid;
}

.textEdit {

}

@external nicEdit-main, nicEdit-panel, .nicEdit-panelContain;
.textEdit .nicEdit-main {
	cursor: text;
	padding: 4px 4px 10px;
	min-height: 15px;
}

.textEditFocused .nicEdit-main {
	background-color: #FFFFFF;
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 1px;
	overflow: auto;
}

.textEditNotFocused .nicEdit-main {
	background-color: transparent;
	border-style: none;
	overflow: hidden;
}

.textEdit .nicEdit-panel {
	margin: 0 0 2px 2px;
}

.textEditNotFocused .nicEdit-panelContain {
	visibility: hidden;
	/*display:none;*/
}

.textEditBox {
	width: 100%;
	height: 100%;
	border-style: none;
	background: transparent;
	resize: none;
}

.textEditViewBox {
	display: none;
}

.worksheetModeViewOnly .textEditViewBox {
    display: inline-block;
    background-color: transparent;
}

.textEditFocused {
	margin-top: -1px;
	margin-left: -2px;
	padding: 2px;
}

.textEditNotFocused {

}

.textEditNoToolbars {

}

.textEditToolbar { /*margin-top:-80px;*/

}

.textBoxCreateModeCanvasStyle {
	cursor: text;
}

@sprite .toolboxTextIconStyle {
	gwt-image: "toolboxTextIcon";
}

.cursorCreateModeCanvasStyle {
	cursor: default;
}

@sprite .toolboxCursorIconStyle {
	gwt-image: "toolboxCursorIcon";
}

.taskImageContainer {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding: 1px;
}

.taskImageChecked {
	opacity: 0.2;
}

.taskListCreateModeCanvasStyle {

}

.taskList {
	border-radius: 5px 5px 5px 5px;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFC9;
}

@sprite .taskRemoveImage {
	cursor: pointer;
	gwt-image: "taskRemoveIcon";
	border-style: none;
	height: 16px;
	width: 16px;
	vertical-align: middle;
	display: inline-block;
}

.taskListTextChecked {
	border-style: none;
	text-decoration: line-through;
	background-color: transparent;
}

.taskListBody {
	position: relative;
	padding: 5px 5px 5px 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.taskListHeader {
	background-color: #EEE;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 1px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.taskListFooter {

}

@sprite .toolboxTaskListIconStyle {
	gwt-image: "toolboxTaskListIcon";
}

.hoverTextBoxView {
	border-style: none;
	background-color: transparent;
	padding: 3px;
}

.hoverTextBoxEdit {

}

.imageBox {
	display: block;
}

@sprite .imageToolEmpty {
    gwt-image: "toolboxImageIcon";
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-color: emptyToolBackgroundColor;
}

.imageToolOptionsBar {
}



.imageToolSet {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.imageToolContentPanel {
    border-radius: 2px;
}

.displayNone {
	display: none;
}

@sprite .toolboxImageIconStyle {
	gwt-image: "toolboxImageIcon";
}

.imageCreateModeCanvasStyle {
	cursor: default;
}

.floatingToolStyle {
	z-index: 999;
	position: absolute;
	opacity: 0.4;
}

/* ToolFrame Styles */
.toolFramePanel {
	position: absolute;
	display: inline-block;
	padding: 1px;
}

.toolFramePanel:hover,.toolFramePanel.drag,.toolFramePanel.selected
	{
	padding: 0px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #ccc;
	background-color: #ccc;
	background-color: rgba(232, 232, 232, 0.9);
	/*	-sand-transform:rotate(0deg);*/
}

.worksheetModeViewOnly {

}

.toolFrameBodyPanel {
	cursor: default;
	padding: 1px 5px 10px 5px;
	display: inline-block;
	position: relative;
}

@sprite .toolFrameCloseLink {
	gwt-image: "closeIcon";
	width: 16px;
	height: 16px;
	display: inline-block;
}

@sprite .toolFrameBackLink {
	gwt-image: "moveBackIcon";
	width: 16px;
	height: 16px;
	display: inline-block;
	float: left;
}

@sprite .toolFrameFrontLink {
	gwt-image: "moveFrontIcon";
	width: 16px;
	height: 16px;
	display: inline-block;
	float: left;
}

.toolFrameButton {
	cursor: pointer;
}

.toolFrameHeader {
	background-color: rgba(200, 200, 200, 0.7);
	cursor: move;
	display: block;
	padding: 2px 0 0 0;
	visibility: hidden;
	text-align: right;
}

.worksheetModeViewOnly .toolFramePanel
{
	visibility: hidden;
}

.toolFramePanel:hover .toolFrameHeader, .toolFramePanel.drag .toolFrameHeader, .toolFramePanel.selected .toolFrameHeader
{
	visibility: visible;
}

.toolFrameButtonsPanel {
	font-family: verdana, sans-serif;
	font-size: 1em;
	line-height: 1.1em;
	padding: 0 5px 2px;
}

@sprite .toolFrameBottomLeftRotate {
	cursor: pointer;
	width: 16px;
	height: 16px;
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	gwt-image: "rotateIcon";
}

@sprite .toolFrameBottomRightResize {
	cursor: nw-resize;
	width: 16px;
	height: 16px;
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: hidden;
	gwt-image: "resizeIcon";
}

.toolFrameHoverVisibleElement {
	visibility: hidden;
}
.toolFramePanel:hover .toolFrameHoverVisibleElement, .toolFramePanel.drag .toolFrameHoverVisibleElement, .toolFramePanel.selected .toolFrameHoverVisibleElement
{
    visibility: visible;
}

.toolFrameHoverDisplayBlockElement {
    display: none;
}
.toolFramePanel:hover .toolFrameHoverDisplayBlockElement, .toolFramePanel.drag .toolFrameHoverDisplayBlockElement, .toolFramePanel.selected .toolFrameHoverDisplayBlockElement
{
    display:block;
}



.toolFramePanel.selected {
	border-style: dotted !important;
	border-color: black !important;
	border-radius: 5px;
	border-width: 1px;
	padding: 0;
}

/*---------------------------------------------*/
.toolOptionsBarContainer {
    position: relative;
}


.toolOptionsBar {
    text-align: center;
    min-width: 18em;
    width:100%;
    position:absolute;
    background-color: rgba(232, 232, 232, 0.5);
    top: 0;
    left: 0;
}

.toolOptionsLabel {
    padding: 5px;
    display: inline-block;
}


/*---------------------------------------------*/
.imagePickerResultImage {
	background-color: #FFFFFF;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 2px 2px 2px 2px;
	display: inline-block;
	height: 100px;
	margin: 2px;
	border-color: #fff;
	border-style: solid;
	border-width: 1px;
	width: 100px;
}

 .imagePickerResultImage:hover, .imagePickerResultImage.hover
	{
	border-color: #ccc;
}

.imagePickerResultImage.selected {
	border-color: #000;
	background-color: #eee;
}

.imageToolSearchProviderPanelStyle {
	display: inline-block;
	margin-right: 10px;
}

.imageToolSearchProviderIconStyle {
	width: 16px;
	height: 16px;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding: 1px;
	display: inline-block;
	margin-right:2px;
}

@sprite .toolboxVideoIconStyle {
	gwt-image: "toolboxVideoIcon";
}

.videoCreateModeCanvasStyle {
	cursor: default;
}

.videoBox {
	display: block;
	border-radius: 2px;
	/* Margin is required because: */
	/* The video IFrame takes 100% of our height, we need more space for the other stuff */
	/* This should be enough to expand and enclose also the options label */
	text-align: center;
	padding-bottom: 28px;
}

@sprite .videoToolEmpty {
	gwt-image: "videoToolEmptyBackground";
	background-position: center;
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	background-color: emptyToolBackgroundColor;
}

.videoToolSet {
	width: auto;
	height: auto;
}

.videoFrame {
	width: 100%;
	height: 100%;
	border-style: none;
}


@sprite .toolboxMapIconStyle {
	gwt-image: "mapIcon48";
	height: 48px;
	width: 48px;
	background-position: center center;
}

.mapCreateModeCanvasStyle {
	cursor: default;
}

.mapTool {
	width: initialMapSize;
	height: initialMapSize;
}

@sprite .mapToolEmpty {
    gwt-image: "mapIcon48";
    height: 200px;
    width: 200px;
    background-position: center center;
	background-color: emptyToolBackgroundColor;
}

.mapToolMapWidget {
	height: 100%;
	width: 100%;
}

.mapToolMapHolder {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.mapToolMainPanel {
	position: relative;
	margin-bottom: 30px;
}


.mapOptionsMapTypePanel {

}

.mapOptionsMapTypePanel .gwt-RadioButton {
	display: block;

}

.selectionPanelStyle {
	background-color: transparent;
	border-style: dotted;
	border-width: 1px;
	width: 0px;
	height: 0px;
	position: absolute;
}

@url imageLoadIconUrl imageLoadIcon;
.imageLoadingStyle {
	background-color: transparent !important;
	background-image: imageLoadIconUrl !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: 48px !important;
}

/*--------------------------------------------*/

.urlTextBox {
	width:30em;
}

.dialogContentPanel {
    padding: 20px;
}

.dialogButtonsPanel {
    margin-top:10px;
    text-align: right;
}

.dialogContentPanel button {
	margin-left: 5px;
}

.dialogSectionPanelHeader {
	font-size: 1.2em;
	margin-bottom: 5px;
}


.dialogSectionPanel {
	padding-bottom: 10px;
}
