@def initialMapSize 300px;
@def emptyToolBackgroundColor #e5e3df;
@def toolboxIconSize 48px;
@def toolboxIconExpandedSize 48px;
@def toolboxIconExpandedSizeWithPadding 58px;
@def toolboxWidth 90px;
@def imageToolDefaultWidth 200px;
@def imageToolDefaultHeight 200px;
@def textEditInitialWidth 150px;

@external gwt-RadioButton;
.monospace {
	font-family: monospace;
}

.selected {

}

.disabledLink, .link.disabledLink {
	cursor: default;
	color: #777;
}

.drag {
	opacity: 0.8;
}

.link {
	background: none repeat scroll 0 0 transparent;
    border-style: none;
    padding: 0;
    color: #00a;
    cursor: pointer;
    text-decoration: underline;
}
.link:active {
	color: #a0a;
	border-style: none;
}

.canvasContainer {
	height: 100%;
	width: 100%;
}

.worksheet {
	height: 100%;
	margin-left: toolboxWidth;
	border-left: 2px solid black;
	position: relative;
}

/* Worksheet when in full-view mode */
.worksheetFullView {
	border-style: none;
	margin: 0;
}

.worksheetFullView .worksheetHeader {
	display: none;
}

.worksheetFullView .worksheetFocusPanel {
	top: 0;
}

.worksheetFullView .worksheetBackground {
	top: 0;
}
/*************************************/
.outOfBounds {
	position: absolute;
	left: 9999px;
	top: 9999px;
}

.worksheetHeader {
	margin-left: 10px;
	font-size: 1.3em;
	padding: 5px;
	height: 25px;
}

.worksheetOptions {
	margin-left: 4px;
	font-size: 14px;
	display: inline-block;
}

.worksheetOptions a {
	cursor: pointer;
	text-decoration: underline;
}

.worksheetFocusPanel {
	top: 35px;
	bottom: 0px;
	width: 100%;
	position: absolute;
	overflow: hidden;
	outline: 0;
}

.worksheetPanel {
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

.worksheetBackground {
	opacity: 0.3;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.worksheetButtons {
	float: right;
}

.worksheetHeaderRightElement {
	font-size: 14px;
	float: right;
	margin: 5px 10px 5px 5px;
}

@sprite .worksheetWelcomeLabelHolder {
    gwt-image: "person24";
    padding-left: 16px;
    display: inline-block;
    width: auto;
    background-position: 0 4px;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    color: #555;
    cursor: default;
}

.worksheetSaveButton {
	min-width: 6em;
}


.worksheetRightButton {

}

.worksheetModeEditable {

}

.worksheetDragPanel {
	z-index: 1000;
	background-color: transparent;
	opacity: 0.4;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.toolbox {
	float: left;
	width: toolboxWidth;
	height: 100%;
}

.toolboxHeader {
	font-size: 1.3em;
	padding: 5px;
	text-align: center;
	margin-bottom: 10px;
}

.toolboxTools {
	padding: 5px;
	text-align: center;
}

/*-------------------------------------------------------------------*/

@sprite .toolboxVideoIconStyle {
    gwt-image: "toolboxVideoIcon";
}
@sprite .toolboxTextIconStyle {
    gwt-image: "toolboxTextIcon";
}
@sprite .toolboxCursorIconStyle {
    gwt-image: "toolboxCursorIcon";
}
@sprite .toolboxMoveIconStyle {
    gwt-image: "toolboxMoveIcon";
}
@sprite .toolboxTaskListIconStyle {
    gwt-image: "toolboxTaskListIcon";
}
@sprite .toolboxImageIconStyle {
    gwt-image: "toolboxImageIcon";
}
@sprite .toolboxMapIconStyle {
    gwt-image: "mapIcon48";
}
@sprite .toolboxCropSiteIconStyle {
    gwt-image: "cropSiteIcon48";
}
@sprite .toolboxSketchIconStyle {
    gwt-image: "sketchIcon48";
}

/*-------------------------------------------------------------------*/

.toolboxCommonIconStyle {
	margin: 0 auto;
    width: toolboxIconSize;
    height: toolboxIconSize;
	padding: 12px 5px;
}

.toolboxCommonIconStyle:hover, .toolboxCommonSelectedIconStyle , .toolboxCommonSelectedIconStyle:hover {
    width: toolboxIconExpandedSizeWithPadding;
    height: toolboxIconExpandedSize;
    padding: 12px 5px;
}

.toolboxInnerIconStyle {
	width: toolboxIconSize;
	height: toolboxIconSize;
	background-size: toolboxIconSize auto;
    background-position: center center;
    padding: 5px 0;
}

.toolboxCommonIconStyle:hover .toolboxInnerIconStyle, .toolboxCommonSelectedIconStyle .toolboxInnerIconStyle, .toolboxCommonSelectedIconStyle:hover .toolboxInnerIconStyle  {
    box-shadow: 0 0 15px #FFFFFF inset;
    padding: 4px;
    border-color: #ddd;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
    width: toolboxIconExpandedSize;
    height: toolboxIconExpandedSize;
    background-size: toolboxIconExpandedSize auto;
}
.toolboxCommonSelectedIconStyle .toolboxInnerIconStyle, .toolboxCommonSelectedIconStyle:hover .toolboxInnerIconStyle {
	border-color: #aaa;
}


.textEdit {
	min-height: 17px;
	width: textEditInitialWidth;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
}

.textEditFocused  {
	background-color: #FFFFFF;
	border-color: #CCCCCC;
}

.textEditNotFocused  {
	background-color: transparent;
    border-color: transparent;
}



.textEditBox {
	cursor: text;
	resize: none;
}

.textEditToolbar {
	position: absolute;
	top: 0;
	left: 0;
}


/* .textEditViewBox { */
/* 	display: none; */
/* } */

/* .worksheetModeViewOnly .textEditViewBox { */
/*     display: inline-block; */
/*     background-color: transparent; */
/* } */


/* .textEditNoToolbars { */

/* } */

/* .textEditToolbar { margin-top:-80px; */

/* } */

.textBoxCreateModeCanvasStyle {
	cursor: text;
}


.cursorCreateModeCanvasStyle {
	cursor: default;
}


.moveCreateModeCanvasStyle {
    cursor: default !important; /*move !important;*/
}


.taskImageContainer {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding: 1px;
}

.taskImageChecked {
	opacity: 0.2;
}

.taskListCreateModeCanvasStyle {

}

.taskList {
	border-radius: 5px 5px 5px 5px;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFC9;
}

@sprite .taskRemoveImage {
	cursor: pointer;
	gwt-image: "taskRemoveIcon";
	border-style: none;
	height: 16px;
	width: 16px;
	vertical-align: middle;
	display: inline-block;
}

.taskListTextChecked {
	border-style: none;
	text-decoration: line-through;
	background-color: transparent;
}

.taskListBody {
	position: relative;
	padding: 5px 5px 5px 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.taskListHeader {
	background-color: #EEE;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 1px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.taskListFooter {

}


.hoverTextBoxView {
	border-style: none;
	background-color: transparent;
	padding: 3px;
}

.hoverTextBoxEdit {

}

.imageToolDefault {
	width: imageToolDefaultWidth;
    height: imageToolDefaultHeight;
}

@sprite .imageToolEmpty {
    gwt-image: "toolboxImageIcon";
    background-position: center;
    background-repeat: no-repeat;
    background-color: emptyToolBackgroundColor;
    width: imageToolDefaultWidth;
    height: imageToolDefaultHeight;
}

.imageToolOptionsBar {
}



.imageToolSet {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.imageToolContentPanel {
    border-radius: 2px;
}

.displayNone {
	display: none;
}


.imageCreateModeCanvasStyle {
	cursor: default;
}

.cropSiteCreateModeCanvasStyle {
	cursor: default;
}

.sketchCreateModeCanvasStyle {
	cursor: default;
}

.floatingToolStyle {
	z-index: 999;
	position: absolute;
	opacity: 0.4;
}

/* ToolFrame Styles */
.toolFramePanel {
	position: absolute;
	display: inline-block;
	padding: 1px;
}

.toolFramePanel:hover,.toolFramePanel.drag,.toolFramePanel.selected
	{
	padding: 0px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #ccc;
	background-color: #ccc;
	background-color: rgba(250, 250, 250, 0.9);
	/*	-sand-transform:rotate(0deg);*/
}

.toolFrameDragOverlayPanel {
	position: absolute;
	background-color: rgba(255,255,255,0.2);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: move;
	display: none;
	z-index: 1;
}

.toolFramePanel.drag .toolFrameDragOverlayPanel {
	display: block;
}

.worksheetModeViewOnly {

}

.worksheetModeViewOnly .toolFramePanel:hover, .worksheetModeViewOnly .toolFramePanel.drag, .worksheetModeViewOnly .toolFramePanel.selected
{
	border-style: none;
	background-color: transparent;
	padding: 1px;
}

.toolFrameBodyPanel {
	cursor: default;
	padding: 1px 5px 17px 5px;
	display: inline-block;
	position: relative;
}

@sprite .toolFrameCloseLink {
	gwt-image: "closeIcon";
	width: 16px;
	height: 16px;
	display: inline-block;
}

@sprite .toolFrameBackLink {
	gwt-image: "moveBackIcon";
	width: 16px;
	height: 16px;
	display: inline-block;
	float: left;
}

@sprite .toolFrameFrontLink {
	gwt-image: "moveFrontIcon";
	width: 16px;
	height: 16px;
	display: inline-block;
	float: left;
}

.toolFrameButton {
	cursor: pointer;
}

.toolFrameHeader {
	background-color: rgba(200, 200, 200, 0.7);
	cursor: move;
	display: block;
	padding: 2px 0 0 0;
	visibility: hidden;
	text-align: right;
}


.toolFrameButtonsPanel {
	font-family: verdana, sans-serif;
	font-size: 1em;
	line-height: 1.1em;
	padding: 0 5px 2px;
}

@sprite .toolFrameBottomLeftRotate {
	cursor: pointer;
	width: 16px;
	height: 16px;
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	gwt-image: "rotateIcon";
}

@sprite .toolFrameBottomRightResize {
	cursor: nw-resize;
	width: 16px;
	height: 16px;
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: hidden;
	gwt-image: "resizeIcon";
}

.toolFrameHoverVisibleElement {
	visibility: hidden;
}
.toolFramePanel:hover .toolFrameHoverVisibleElement, .toolFramePanel.drag .toolFrameHoverVisibleElement, .toolFramePanel.selected .toolFrameHoverVisibleElement
{
    visibility: visible;
}
.worksheetModeViewOnly .toolFramePanel:hover .toolFrameHoverVisibleElement, .worksheetModeViewOnly .toolFramePanel.drag .toolFrameHoverVisibleElement, .worksheetModeViewOnly .toolFramePanel.selected .toolFrameHoverVisibleElement
{
    visibility: hidden;
}



.toolFrameHoverDisplayBlockElement {
    display: none;
}
.toolFramePanel:hover .toolFrameHoverDisplayBlockElement, .toolFramePanel.drag .toolFrameHoverDisplayBlockElement, .toolFramePanel.selected .toolFrameHoverDisplayBlockElement
{
    display:block;
}
.worksheetModeViewOnly .toolFramePanel:hover .toolFrameHoverDisplayBlockElement, .worksheetModeViewOnly .toolFramePanel.drag .toolFrameHoverDisplayBlockElement, .worksheetModeViewOnly .toolFramePanel.selected .toolFrameHoverDisplayBlockElement
{
	display: none;
}


.toolFramePanel.selected {
	border-style: dotted; /* !important; */
	border-color: #aaa; /* !important; */
	border-radius: 5px;
	border-width: 1px;
	padding: 0;
}

/*---------------------------------------------*/
.worksheetModeViewOnly .toolOptionsBarContainer, .worksheetModeViewOnly .toolOptionsBar {
	display: none;
}

.toolOptionsBarContainer {
    position: relative;
}


.toolOptionsBar {
    text-align: center;
    min-width: 10em;
    width:100%;
    position:absolute;
    background-color: rgba(232, 232, 232, 0.8);
    top: 0;
    left: 0;
}

.toolOptionsBar input {
	margin: 4px;
}

.toolOptionsLabel {
    padding: 5px;
    display: inline-block;
}


/*---------------------------------------------*/
.mediaSearchPanelResultImage {
	background-color: #FFFFFF;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 2px 2px 2px 2px;
	display: inline-block;
	height: 100px;
	margin: 2px;
	border-color: #fff;
	border-style: solid;
	border-width: 1px;
	width: 100px;
}

.mediaSearchPanelResultImage:hover, .mediaSearchPanelResultImage.hover
{
	border-color: #ccc;
}

.mediaSearchPanelResultImage.selected {
	border-color: #000;
	background-color: #eee;
}

.imageToolSearchProviderPanelStyle {
	display: inline-block;
	margin-right: 10px;
}

.imageToolSearchProviderIconStyle {
	width: 16px;
	height: 16px;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding: 1px;
	display: inline-block;
	margin-right:2px;
}


.videoCreateModeCanvasStyle {
	cursor: default;
}

.videoBox {
	display: block;
	border-radius: 2px;
	/* Margin is required because: */
	/* The video IFrame takes 100% of our height, we need more space for the other stuff */
	/* This should be enough to expand and enclose also the options label */
	text-align: center;
	margin-bottom: 30px;
}

.worksheetModeViewOnly .videoBox {
	margin-bottom: 0;
}

@sprite .videoToolEmpty {
	gwt-image: "videoToolEmptyBackground";
	background-position: center;
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	background-color: emptyToolBackgroundColor;
	overflow: visible;
}

.videoToolSet {
	width: auto;
	height: auto;
}

.videoFrame {
	width: 100%;
	height: 100%;
	border-style: none;
	overflow: hidden;
}



.mapCreateModeCanvasStyle {
	cursor: default;
}

.mapTool {
	width: initialMapSize;
	height: initialMapSize;
}

@sprite .mapToolEmpty {
    gwt-image: "mapIcon48";
    height: 200px;
    width: 200px;
    background-position: center center;
	background-color: emptyToolBackgroundColor;
}

.mapToolMapWidget {
	height: 100%;
	width: 100%;
}

.mapToolMapHolder {
	overflow: hidden;
	height: 100%;
	width: 100%;

    /* for Bing maps - otherwise they somehow overflow despite the overflow:hidden */
    position: relative;
}

.mapToolMainPanel {
	position: relative;
	margin-bottom: 64px;
}

.mapToolFindBar {
    display: inline-block;
}


.mapOptionsMapTypePanel {

}

.mapOptionsMapTypePanel .gwt-RadioButton {
	display: block;

}

.selectionPanelStyle {
	background-color: transparent;
	border-style: dotted;
	border-width: 1px;
	width: 0px;
	height: 0px;
	position: absolute;
}

@url imageLoadIconUrl imageLoadIcon;
.imageLoadingStyle, .loadingFiller {
	background-image: imageLoadIconUrl !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: 48px !important;
}

.imageLoadingStyle {
    background-color: transparent !important;
}
.loadingFiller {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1000;
	background-color: rgba(255,255,255,0.9);
}

/*--------------------------------------------*/

.urlTextBox {
	width:30em;
}

.dialogContentPanel {
    padding: 20px;
}

.dialogButtonsPanel {
    margin-top:10px;
    text-align: right;
}

.dialogContentPanel button {
	margin-left: 5px;
}

.dialogSectionPanelHeader {
	font-size: 1.2em;
	margin-bottom: 5px;
}


.dialogSectionPanel {
	padding-bottom: 10px;
}

.cropSiteFrame{
	width: 100%;
	height: 100%;
	border-style: none;
	overflow: hidden;
	position:relative
}

.cropSiteBox {
	display: block;
	border-radius: 2px;
	text-align: center;
	margin-bottom: 30px;
	overflow: visible;
	min-width: 560px;
}

@sprite .cropSiteToolEmpty {
	gwt-image: "cropSiteToolEmptyBackground";
	background-position: center;
	background-repeat: no-repeat;
	width: 480px;
	height: 200px;
	background-color: emptyToolBackgroundColor;
	overflow: visible;
}

.cropSiteToolSet {
	background-color: transparent;
	overflow: visible;
}

@sprite .cropSelectButton{
	gwt-image: "cropSelectIcon";
}

@sprite .cropBrowseButton{
	gwt-image: "cropBrowseIcon";
}

@sprite .cropMoveButton{
	gwt-image: "cropMoveIcon";
}

@sprite .cropCutButton{
	gwt-image: "cropCutIcon";
}

@sprite .cropAcceptIcon{
	gwt-image: "cropAcceptIcon";
}

@sprite .cropCancelIcon{
	gwt-image: "cropCancelIcon";
}