HelloSomeone/war/hellosomeone
HelloSomeone/war/WEB-INF
.gwt-log
canvas/war/WEB-INF/appengine-generated
authentication/war/WEB-INF/appengine-generated
*.orig
*.class
website/war/Login
shared/bin
website/war/WEB-INF/deploy