[submodule "submodules/mapstraction"]
	path = submodules/mapstraction
	url = git@github.com:mapstraction/mxn.git
[submodule "submodules/Dolomite"]
	path = submodules/Dolomite
	url = git@github.com:sinelaw/Dolomite.git
