/** Add css rules here for your application. */

.ClickWriteBox
{
	position: absolute;
	width: 200px;
	background: #eee;
	border: red;
	border-style: double;
}

.ClickLabel
{
}

.ClickImage
{
	height: 32px;
	width: 32px;
}

.ClickPanel
{
	position: absolute;
}

.TaskImage
{
	height: 32px;
	width: 32px;
}

.TaskRemoveButton
{
	cursor: pointer;
}

.TaskChecked
{
	border-style: none;
	text-decoration: line-through;
	
}