.monospace {
	font-family:monospace;
}

.canvasContainer {
    height:100%;
    width:100%;
}

.worksheet {
	height:100%;
	margin-left:120px;
	border-left: 2px solid black;
    position: relative;
}

/* Worksheet when in full-view mode */
.worksheetFullView {
	border-style:none;
	margin:0;
}
.worksheetFullView .worksheetHeader {
	display:none;
}
.worksheetFullView .worksheetPanel {
	top:0;
}
.worksheetFullView .worksheetBackground {
	top:0;
}
/*************************************/

.worksheetHeader {
	margin-left:10px;
	font-size:1.5em;
    padding:5px;
    height:25px;
}
.worksheetOptions {
	margin-left:4px;
	font-size:14px;
	display:inline-block;
}
.worksheetOptions a {
	cursor:pointer;
	text-decoration:underline;
}
.worksheetPanel {
	top:35px;
	bottom:0px;
	width:100%;
    position: absolute;
    overflow:hidden;
}
.worksheetBackground {
	opacity:0.3;
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}
.worksheetButtons {
	float:right;
}
.worksheetRightButton {

}

.toolbox {
	float:left;
    width:120px;
    height: 100%;
}

.toolboxHeader {
	font-size:1.5em;
	padding:5px;
	text-align: center;
	margin-bottom:10px;
}

.toolboxTools {
	padding:5px;
	text-align:center;
}

.toolboxCommonIconStyle {
	margin: 10px auto;
    width: 48px;
    hight: 48px;
    padding: 5px;
}

.toolboxCommonIconStyle:hover {
    padding: 4px;
	border-color: #ddd;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
	border-style: solid;
}

.toolboxCommonSelectedIconStyle, .toolboxCommonSelectedIconStyle:hover {
    padding: 4px;
    border-color: #aaa;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
}

.textEdit {
	border-style:none;
	background:transparent;
	min-height:40px;
}
.textEditFocused {
	margin-top:-1px;
	margin-left:-2px;
	padding:2px;
}

@external .cke_top, .cke_wrapper;
.textEditNotFocused .cke_top {
	display:none;
}

.textEditNotFocused .cke_wrapper {
	background: transparent !important;
}
.textEditToolbar {
	/*margin-top:-80px;*/
}

.textBoxCreateModeCanvasStyle {
	cursor: text;
}

@sprite .toolboxTextIconStyle {
	gwt-image: "toolboxTextIcon";
}

.cursorCreateModeCanvasStyle {
	cursor: default;
}

@sprite .toolboxCursorIconStyle {
	gwt-image: "toolboxCursorIcon";
}

.taskImage
{
	width: 32px;
	height: 32px;
}

.taskImageContainer
{
	display:inline-block;
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

.taskImageChecked
{
	opacity:0.2;
}

.taskListCreateModeCanvasStyle {
}

.taskList {
	border-radius: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
    background-color: #FFFFC9;
}

@sprite .taskListRemoveImage{
	cursor: pointer;
	gwt-image: "taskListRemoveIcon";
	border-style: none;
	height:16px;
	width:16px;
	vertical-align: middle;
}

.taskListTextChecked{
	border-style: none;
	text-decoration: line-through;
	background-color: transparent;
}

.taskListBody
{
	position:relative;
	padding: 5px 5px 5px 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height:100%;
}

.taskListHeader {
	
	background-color: #EEE;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    border-width: 1px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.taskListFooter
{
}

@sprite .toolboxTaskListIconStyle {
	gwt-image: "toolboxTaskListIcon";
}

.hoverTextBoxView
{
	border-style: none;
	background-color: transparent;
	padding:3px;
}

.hoverTextBoxEdit
{
}

.imageBox
{
	display:block;
	border-radius:2px;
}
.imageToolEmpty {
	width:200px;
	height:200px;
	background-color:#aaa;
}
.imageToolSet {
	width:auto;
	height:auto;
}

.displayNone
{
	display:none;
}

@sprite .toolboxImageIconStyle {
	gwt-image: "toolboxImageIcon";
}

.imageCreateModeCanvasStyle
{
	cursor: default;
}

.floatingToolStyle
{
	position: absolute;
	opacity: 0.4;
}
	
/* ToolFrame Styles */	
	
.toolFramePanel
{
    cursor:move;
	position: absolute;
	display:inline-block;
}

.toolFramePanel:hover
{
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #ccc;
	background-color: #EEE;
}

.toolFrameBodyPanel 
{
    cursor:default;
	padding:0px 5px 10px 5px;
	display:inline-block;
	position: relative;
}				
.toolFrameCloseLink 
{
	color:#f66;
	text-shadow: 0 0 0.2px black;
}
.toolFrameCloseLink:hover 
{
	color:#f66;
	text-shadow: 0 0 1px #888;
}
.toolFrameHeader 
{
	padding:0 5px;
	visibility: hidden; 
}
.toolFramePanel:hover .toolFrameHeader 
{
	visibility: visible;
}
.toolFrameButtonsPanel 
{
    cursor:default;
    float: right;
    font-family: verdana,sans-serif;
    font-size: 1em;
    line-height: 1.1em;
    padding: 0 5px 2px;
}

@sprite .toolFrameBottomRightResize
{
	visibility: hidden;
	cursor: nw-resize;
	width: 16px;
	height: 16px;
	display: inline-block;
	position:absolute;
	bottom: 0;
	right:0;
	overflow: hidden;
	gwt-image: "resizeIcon"
}

.toolFramePanel:hover .toolFrameBottomRightResize
{
	visibility: visible;
}
