.monospace {
	font-family:monospace;
}

.canvasContainer {
    height:100%;
    width:100%;
}

.worksheet {
	height:100%;
	margin-left:120px;
	border-left: 2px solid black;
    position: relative;
}
.worksheetHeader {
	margin-left:10px;
	font-size:1.5em;
    padding:5px;
    height:25px;
}
.worksheetPanel {
	top:35px;
	bottom:0px;
	width:100%;
    position: absolute;
}
.worksheetSaveButton {
	float:right;
	margin:0 3px;
}

.toolbox {
	float:left;
    width:120px;
    height: 100%;
}

.toolboxHeader {
	font-size:1.5em;
	padding:5px;
	text-align: center;
	margin-bottom:10px;
}

.toolboxTools {
	padding:5px;
	text-align:center;
}

.toolboxCommonIconStyle {
	margin: 10px auto;
    width: 32px;
    padding: 5px;
}

.toolboxCommonIconStyle:hover {
    padding: 4px;
	border-color: #ddd;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
	border-style: solid;
}

.toolboxCommonSelectedIconStyle, .toolboxCommonSelectedIconStyle:hover {
    padding: 4px;
    border-color: #aaa;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
}

.textEdit {
    border-width:1px;
}
.textEditEditBox {
	margin-top:-1px;
	margin-left:-2px;
    background-color:#eee;
    border-width:1px;
    border-color:#ddd;
    border-style:solid;
	padding:2px;
    font-size:1em;
    line-height:1.3em;
}
.textEditLabelBox {
    white-space: pre;
	padding:2px;
    font-size:1em;
    line-height:1.3em;
}

.textBoxCreateModeCanvasStyle {
	cursor: text;
}

@sprite .toolboxTextIconStyle {
	gwt-image: "toolboxTextIcon";
}

.cursorCreateModeCanvasStyle {
	cursor: default;
}

@sprite .toolboxCursorIconStyle {
	gwt-image: "toolboxCursorIcon";
}

.taskImage
{
	width: 32px;
	height: 32px;
}

.taskImageContainer
{
	display:inline-block;
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

.taskImageChecked
{
	opacity:0.2;
}

.taskListCreateModeCanvasStyle {
}

.taskList {
	border-radius: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
    background-color: #FFFFC9;
}

@sprite .taskListRemoveImage{
	cursor: pointer;
	gwt-image: "taskListRemoveIcon";
	border-style: none;
	height:16px;
	width:16px;
	vertical-align: middle;
}

.taskListTextChecked{
	border-style: none;
	text-decoration: line-through;
	background-color: transparent;
}

.taskListBody
{
	position:relative;
	padding: 5px 5px 5px 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height:100%;
}

.taskListHeader {
	
	background-color: #EEE;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    border-width: 1px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.taskListFooter
{
}

@sprite .toolboxTaskListIconStyle {
	gwt-image: "toolboxTaskListIcon";
}

.hoverTextBoxView
{
	border-style: none;
	background-color: transparent;
	padding:3px;
}

.hoverTextBoxEdit
{
}

