<?xml version="1.0" encoding="UTF-8"?>
<web-app  xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

  
  <!-- Servlets -->
  <servlet>
    <servlet-name>canvasServlet</servlet-name>
    <servlet-class>com.project.canvas.server.CanvasServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>canvasServlet</servlet-name>
    <url-pattern>/Canvas/canvas</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Canvas.html</welcome-file>
  </welcome-file-list>


    <security-constraint>
        <web-resource-collection>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    
</web-app>
